#containerLists.container
	div.row
		.col-md-2.col-md-offset-5 Add List
		.col-md-2.col-md-offset-1(style='padding-bottom:10px;')
			.btn-group.pull-right
				a.btn.btn-default.btn-sm(href='/lists/index', type='button')
					span.glyphicon.glyphicon-chevron-left
					|  Back
	
	.row.col-md-8.col-centered
		.panel.panel-default
			.panel-body
				form.form-horizontal
					.form-group
						label.control-label.col-xs-2(for='list-name') Name
						.col-xs-8
							input#list-name.form-control.input-md(name='list-name', type='text', placeholder='Name', required='', ng-model="list.name")
					.form-group
						label.control-label.col-xs-2(for='list-description') Description
						.col-xs-8
							textarea#list-description.form-control(name='list-description', placeholder='Description', ng-model="list.description")
					.form-group
						label.control-label.col-xs-2(for='list-privacy') Privacy
						.col-xs-8
							label.radio-inline.active
								input(type='radio', name='privacy', value='public', ng-model="list.mode") 
								| public
							label.radio-inline
								input(type='radio', name='privacy', value='private', ng-model="list.mode") 
								| private
					.col-md-offset-8
						a.btn.btn-default(type='button', data-dismiss='modal', href='/lists/index') Cancel
						button.btn.btn-primary(type='button', ng-click="saveList() ") Save 
//					.form-group
//						label.control-label.col-xs-2(for='list-category') Category
//						.col-xs-8.input-group
//							select#list-category.form-control(name='list-category')
//								option(value='1') Option one
//								option(value='2') Option two
//							.input-group-btn
//								button#btnEditUserCategories.btn.btn-default(tabindex='-1', type='button')
//									span.glyphicon.glyphicon-pencil
//									|  Edit
