.container
	.row
		a(href='/copy_list')
			.col-md-3.col-sm-3.col-xs-6
				.dashboard-div-wrapper.bk-clr-three
					i.fa.fa-cogs.dashboard-div-icon
					h5 List's URL
		a(href='/view_user_lists')
			.col-md-3.col-sm-3.col-xs-6
				.dashboard-div-wrapper.bk-clr-three
					i.fa.fa-cogs.dashboard-div-icon
					h5 Search Users Lists
		.col-md-3.col-sm-3.col-xs-6
			.dashboard-div-wrapper.bk-clr-three
				i.fa.fa-cogs.dashboard-div-icon
				h5 Search Popular List