.container
	.row.col-md-12
		div.well.well-sm
			.input-group
				input.form-control(placeholder="https://twitter.com/twitterapi/lists/meetup-20100301", , ng-model="listUrl")
				.input-group-btn
					button.btn.btn-default(type='button', ng-click='sendListURL()') 
						span.glyphicon.glyphicon-ok
						|  Go
	
	.row
		.col-md-8
			.panel.panel-default
				.panel-heading Users
				.panel-body
					div(ng-hide="searchedListUsers.length") 
						Empty
					div(style='border-bottom:1px solid #999; clear:both;', ng-repeat="user in searchedListUsers")
						div(style='float:left; margin-top: 10px; max-width: 750px;')
							.stream-item-header
								div.account-group
									| 
									img.avatar(src='{{user.profile_image_url}}', alt='', style='float: left; margin-top: 3px; padding-right:10px;')
									| 
									| 
									strong {{user.name}}
									| 
									| 
									span @{{user.screen_name}}
							| 
							| 
							p.bio {{user.description}}
						| 
						div(style='clear:both;')
		.col-md-3
			.panel.panel-default
				.panel-body
					.btn-group
						a.btn.btn-default.btn-sm(type='button', ng-disabled="isListSelected()", ng-click='cloneList()') Clone
						| 
						| 
						a.btn.btn-default.btn-sm(type='button', ng-disabled="isListSelected()", ng-click='subscribeList()') Subscribe
						| 
						| 
						a.btn.btn-default.btn-sm(type='button', ng-disabled="isListSelected()", href='https://twitter.com{{list_info.uri}}', target='_blank') Open
						| 
						| 
