.container
	.row.col-md-12.well.well-sm(style='padding-bottom:10px;')
		.btn-group.col-lg-5.left-search-box
			.input-group
				ui-select(ng-model='selectedPlace', theme='bootstrap', ng-disabled='disabled', reset-search-input='false', on-select="searchChanged($item)")
					ui-select-match(placeholder='Enter a location...') {{$select.selected.name}}
					| 
					ui-select-choices(repeat='place in places | propsFilter: {name: $select.search}')
						div(ng-bind-html='place.name | highlight: $select.search')
				.input-group-btn
					button.btn.btn-default(type='button', ng-click='activateLocation()') 
						span.glyphicon.glyphicon-map-marker
		//-
			.btn-group.pull-right
				a.btn.btn-default.btn-sm(href='/lists', type='button')
					span.glyphicon.glyphicon-th-list
					|  Lists 
				a.btn.btn-default.btn-sm(href='/view_user_lists', type='button')
					span.glyphicon.glyphicon-cloud
					|  User List 
				a.btn.btn-default.btn-sm(href='/lists/assign_users_to_list', type='button')
					span.glyphicon.glyphicon-transfer
					|  Following 
	.row
		.col-md-4
			.panel.panel-default
				.panel-heading Trends
				.panel-body
					table.table.table-hover
						tbody
							tr(ng-hide="tredns.length") 
								td(collspan="10") Empty
							tr(ng-repeat="trend in trends")
								td 
									a(href='{{trend.url}}', target='_blank') {{trend.name}}
		.col-md-4
			.panel.panel-default
				.panel-heading Lists
				.panel-body
					table.table.table-hover
						tbody
							tr(ng-hide="lists.length") 
								td(collspan="10") Empty
							tr(ng-repeat="list in lists")
								td 
									a(href='https://twitter.com{{list.uri}}', target='_blank') {{list.name}}
		.col-md-4
			.panel.panel-default
				.panel-heading Saved Searches
				.panel-body
					table.table.table-hover
						tbody
							tr(ng-hide="searches.length") 
								td(collspan="10") Empty
							tr(ng-repeat="search in searches")
								td 
									a(href=' https://twitter.com/search?q=%23{{search.updated_query}}&src=tyah', target='_blank') {{search.name}}
