.container
	div(class='info-text', style='padding-bottom:15px') Here you can access your Lists, and Saved Searchs quickly. As well you can search what is trending on different places. 
		br
		| If the browser is not allowed to access your location you can search the nearest city. 
	| 
	.row.col-md-12.well.well-sm(style='padding-bottom:10px;')
		.btn-group.col-lg-4.left-search-box
			form
				.form-group
					p Location:
					ui-select(ng-model='selectedPlace', theme='bootstrap', ng-disabled='disabled', reset-search-input='false', on-select="searchChanged($item)")
						ui-select-match(placeholder='Enter a location...') {{$select.selected.name}}
						| 
						ui-select-choices(repeat='place in places | propsFilter: {name: $select.search}')
							div(ng-bind-html='place.name | highlight: $select.search')
		.btn-group.pull-right
			button.btn.btn-default(type='button', ng-click='activateLocation()', ng-disabled='geolocationDenied') 
				span.glyphicon.glyphicon-map-marker 
				| User Geolocation
		
		//-
			.btn-group.pull-right
				a.btn.btn-default.btn-sm(href='/lists', type='button')
					span.glyphicon.glyphicon-th-list
					|  Lists 
				a.btn.btn-default.btn-sm(href='/view_user_lists', type='button')
					span.glyphicon.glyphicon-cloud
					|  User List 
				a.btn.btn-default.btn-sm(href='/lists/assign_users_to_list', type='button')
					span.glyphicon.glyphicon-transfer
					|  Following 
	.row
		.col-md-4
			.panel.panel-default
				.panel-heading Trends
				.panel-body
					table.table.table-hover
						tbody
							tr(ng-hide="tredns.length") 
								td(collspan="10") Empty
							tr(ng-repeat="trend in trends")
								td 
									a(href='{{trend.url}}', target='_blank') {{trend.name}}
		.col-md-4
			.panel.panel-default
				.panel-heading Lists
				.panel-body
					table.table.table-hover
						tbody
							tr(ng-hide="lists.length") 
								td(collspan="10") Empty
							tr(ng-repeat="list in lists")
								td 
									a(href='https://twitter.com{{list.uri}}', target='_blank') {{list.name}}
		.col-md-4
			.panel.panel-default
				.panel-heading Saved Searches
				.panel-body
					table.table.table-hover
						tbody
							tr(ng-hide="searches.length") 
								td(collspan="10") Empty
							tr(ng-repeat="search in searches")
								td 
									a(href=' https://twitter.com/search?q=%23{{search.updated_query}}&src=tyah', target='_blank') {{search.name}}
