#containerLists.container
	.row.col-md-12(style='padding-bottom:10px;')
		.btn-group.pull-right
			a.btn.btn-default.btn-sm(href='/lists/add_list', type='button')
				span.glyphicon.glyphicon-plus
				|  Add
	.row.col-md-12
		.panel.panel-default
			.panel-body
				table.table.table-hover
					thead
						tr
							th Name
							th Mode
							th Own List
							th Members
							th Description
							th
					tbody
						tr(ng-hide="lists.length") 
							td(collspan="10") Empty
						tr(ng-repeat="list in lists")
							td 
								a(href='/lists/view_users/{{list.id}}' ) {{list.name}}
							td {{list.mode}}
							td {{list.own_list}}
							td {{list.member_count}}
							td {{list.description}}
							td
								.btn-group.pull-right
									a.btn.btn-default.btn-sm(type='button', href='/lists/edit_list/{{list.id}}', ng-disabled="isListOwner(list)") Edit
									| 
									| 
									a.btn.btn-default.btn-sm(type='button', ng-click='openConfirmModal(list)') {{isListOwner(list) ? 'Unsubscribe' : 'Delete'}}
									| 
									| 
									a.btn.btn-default.btn-sm(type='button', href='https://twitter.com{{list.uri}}', target='_blank') Open
	
	script(type='text/ng-template', id='modalConfirmContainer.html')
		.modal-header
			h3.modal-title Confirm
		|         
		.modal-body
			div(ng-hide="!is_delete_list")
				input(type='checkbox', name='unfollowUsers', value='1', ng-model="unfollowUsers")
				|  Unfollow users
			| {{modal_message_confirm}}
		| 
		.modal-footer
			button.btn.btn-primary(ng-click='ok()') OK
			| 
			button.btn.btn-warning(ng-click='cancel()') Cancel
