if (login_status)
	extends layout_logged
else
	extends layout_index

block content
	.content-wrapper
		.container
			.row
				.col-md-12
					h4.page-head-line About
			| 
			.row
				.col-md-8(class='info-text')
					div We are a small group of people trying to help someone to use Twitter, we love it and think that maybe it becomes overwalming if you follow people that twitts about different topics. This can help you to ease that "noise" organize your friends and go directly to the specific list. 
					div As well we think twitter can help people with similar interest interact easily. 
					div As well you can search and subscribe to existing lists, you sure follow experts on an specific topic, if they have and mantain a list of experts you will be able to be almost up to date with the information he/she is interested on. Kind of like a playlist on Youtube || Spotify. 
					div And well we dont want to be pushi with ideas, so use them this service as you find it useful. 
					div On top of this, here you will be able to see your saved searches. Did you know you can save a search on twitter. Example, I like futbol (Soccer for the people on USA) and I'm mexican, So I will sure search for "Chicharito" (or #Chicharito or chichagol) I do this search often so I better save it right? to save me time every time I want to check the lattest twitts on this topic. well here you can see those searchs and navigate directly to the result. 
					div And last but not least you can navigate thru what is #Trending all over the world. We offer a small UI to help you navigate thru the different places that Twitter is storing the Trends. 