if (login_status)
	extends layout_logged
else
	extends layout_index

block content
	.content-wrapper
		.container
			.row
				.col-md-12
					h4.page-head-line Contact Us
			| 
			.row
				.col-md-8(class='info-text')
					div 
						| Cesar E. Gonzalez Borjon
						br
						| Twitter 
						a(href='https://twitter.com/cesaregb', target='_blank') cesaregb
					div
						| What that you want to give us money because you are really cool. Please do so with paypal or google wallet. we do will really appreciate it.
					div
						| Or do you want to advertising something we do can get make it happen.