block footer
	footer
		.container
			.row
				.col-md-12
					| &copy; 2015 Turaco | By : 
					a(href='http://www.twitter.com/cesaregb', target='_blank') @cesaregb
	// **************FOOTER-WRAPPER SECTION END