nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			//a.navbar-brand(href='/home', target='_self') Turaco
			a.navbar-brand(href='/home') Turaco
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				if (login_status)
					li(class=(topnav_section===1 ? 'active' : ''))
						a(href='/lists') Lists
					li(class=(topnav_section===2 ? 'active' : ''))
						a(href='/lists/add_list') Users
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						| Copy List By
						b.caret
					ul.dropdown-menu
						li
							a(href='/copy_list') URL
						li
							a(href='/view_user_lists') User
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						| Other Stuff
						b.caret
					ul.dropdown-menu
						li
							a(href='/home') About us
						li
							a(href='/home') FAQ
						li
							a(href='/home') Remove your self
						if (login_status)
							li
								a(href='/reload_user', target='_self') Reload your session
				li
					if (!login_status)
						a(href='/auth/twitter') Login
					else
						a(href='/logout') Logout
						//a(href='/lists') #{user.screen_name}
