extends layout_index

block content
	header.header-image
		.headline
			.container
				h1 Turaco List Organizer
				p
					| Easily organize your Twitter lists. 
				if (!login_status)
					h2
						a.btn.btn-primary.btn-lg(role='button' href='/auth/twitter')
							img(src="images/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" title="Sign in with Twitter")
	#container.container
		hr.featurette-divider
		// First Featurette
		#about.featurette
			img.featurette-image.img-circle.img-responsive.pull-right(src='http://placehold.it/500x500')
			h2.featurette-heading
				| <a href='/lists'> Organize Lists </a>
			p.lead
				| Here you can easily manage your lists, Create, Read, Update or Delete.  
		hr.featurette-divider
		// Second Featurette
		#services.featurette
			img.featurette-image.img-circle.img-responsive.pull-left(src='http://placehold.it/500x500')
			h2.featurette-heading
				| <a href='/lists'> Manage accounts </a>
			p.lead
				| You will be able to organize the accounts you are following on lists. This way you may get a cleaner time line when using twitter for an specific topic
		hr.featurette-divider
		// Third Featurette
		#contact.featurette
			img.featurette-image.img-circle.img-responsive.pull-right(src='http://placehold.it/500x500')
			h2.featurette-heading
				| <a href='/lists'> Subscribe and Clone</a>
			p.lead
				| The user will be able to subscribe and clone existing list. 
