extends layout_logged

block content
	.content-wrapper
			.container
				.row(ng-controller="errorController")
					.col-md-12
						.alert.alert-success(ng-show="info",class="ng-hide", id="info_message", style='display:none') {{info_message}}
						.alert.alert-success(data-loading, style='display:none') Loading...
						.alert.alert-success(id="PreLoading", ng-show="preLoading") Loading some libraries...
						.alert.alert-danger(ng-show="error", class="ng-hide", id="error_message", style='display:none') {{error_message}}
				.row
					.col-md-12
						h4.page-head-line(ng-bind="title")
				| 
				div(ng-view)