doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/turaco_template.css')
		link(rel='stylesheet', href='/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/dist/css/bootstrap-responsive.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js')
		script(src='/dist/js/bootstrap.min.js')
	body
		include header
		block content
		include footer