doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='stylesheet', href='/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/turaco_base.css')
	body
		include header
		include user_info
		block content
		include footer
		
		//script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-sanitize.min.js')
		//script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.min.js')
		//script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.min.js')
		script(src="/frameworks/require.js" data-main="/javascripts/main_lists")