.jumbotron.seaction-header
	.thumbnail.center-block.trc-jumbotron-img-container
		img.img-responsive(src='https://pbs.twimg.com/profile_images/378800000856269061/640b424d1feda99258739cc413ccc679_400x400.jpeg', alt='Cesar Gonzalez')
	p @cesaregb