#containerUsers.container(style='block;')
	.row.col-md-12(style='padding-bottom:10px;')
		.btn-group.col-lg-3.left-search-box
			.input-group
				span.input-group-addon
					input(type='checkbox', checked='true', disabled='')
					|  All
				input.form-control.input-sm(type='text', placeholder='@account', ng-model="search.screen_name")
				span.input-group-btn
					button.btn.btn-default.btn-sm(type='button')
						span.glyphicon.glyphicon-search
		.btn-group.pull-right
			button#btnBackLists.btn.btn-default.btn-sm(type='button', ng-click='removeUsers()', ng-disabled="isSelectedListOwner()")
				span.glyphicon.glyphicon-remove
				| Remove Selected
			button.btn.btn-default.btn-sm(type='button', href='#', ng-click="open()")
				span.glyphicon.glyphicon-file
				| Copy
	.row.col-md-12
		.panel.panel-default
			.panel-heading.clearfix
				h4.panel-title.pull-left(style='padding-top: 7.5px;') List Name: {{listName}} 
			.panel-body
				div(ng-hide="users.length") 
					Empty
				div(style='border-bottom:1px solid #999; clear:both;', ng-repeat="user in users | filter:search")
					div(style='float:left; margin-top: 10px; max-width: 750px;')
						.stream-item-header
							span(style='float: left; padding-right: 10px; margin-top: 15px;')
								input(type='checkbox', ng-checked='isSelected(user)', ng-click='userSelected(user)')
							a.account-group(href='#', ng-click='userSelected(user)')
								| 
								img.avatar(src='{{user.profile_image_url}}', alt='', style='float: left; margin-top: 3px; padding-right:10px;')
								| 
								| 
								strong {{user.name}}
								| 
								| 
								span @{{user.screen_name}}
						| 
						| 
						p.bio {{user.description}}
					| 
					| 
					div(style='float: right; margin-top:10px')
						.btn-group.pull-right
							a.btn.btn-default.btn-sm(type='button', ng-disabled="isFollowing(user)", ng-click='unfowlloUser(user)') Unfollow
							| 
							| 
							a.btn.btn-default.btn-sm(type='button', ng-disabled="isSelectedListOwner()", ng-click='removeUser(user)') Remove
							| 
							| 
							a.btn.btn-default.btn-sm(type='button', href='https://twitter.com/{{user.screen_name}}', target='_blank') Open
					| 
					div(style='clear:both;')
	// POP-UP!!  
	script(type='text/ng-template', id='modalListContainer.html')
		.modal-header
			h3.modal-title User's List
		|         
		.modal-body
			table.table.table-hover
				thead
					tr
						th Name
						th Mode
						th Own List
						th Members
						th Description
				tbody
					tr(ng-repeat="list in lists")
						td 
							a(href='#', ng-click='selected.list = list' ) {{list.name}}
						td {{list.mode}}
						td {{list.own_list}}
						td {{list.member_count}}
						td {{list.description}}
			b SELECTED: {{ selected.list.name }}
		|         
		.modal-footer
			button.btn.btn-primary(ng-click='ok()') OK
			|             
			button.btn.btn-warning(ng-click='cancel()') Cancel
			
